body { 
    font-family: 'Courier New', Courier, monospace;
    margin: 0; 
    background-color: #1c1c1c; 
} 

.header { 
    background-color: #000; 
    color: yellowgreen; 
    text-align: center; 
    padding: 50px; 
    text-transform: uppercase;
} 

.header h1 { 
    margin: 0; 
    font-size: 3.5em; 
    font-weight: bold;
} 

.main { 
    display: flex; 
    justify-content: space-between; 
    margin: 30px 5%; 
} 

.left, .right { 
    width: 20%; 
    padding: 20px; 
    background-color: #333; 
    border-radius: 10px; 
    border: 1px solid white;
} 

.left ul { 
    list-style: none; 
    padding: 0; 
} 

.left ul li { 
    margin-bottom: 15px; 
} 

.left ul li a { 
    text-decoration: none; 
    font-weight: bold; 
    display: block; 
    padding: 10px; 
    border-radius: 5px;
    color: white; 
    border: 1px solid white;
} 

.left ul li a:hover { 
    color: yellowgreen; 
} 

.right { 
    padding: 20px; 
    background-color: #333; 
    border-radius: 10px;
    color: white;
} 

.right h1 { 
    margin-bottom: 15px;  
} 

.right p { 
    line-height: 1.5;  
} 
.bottom { 
    background-color: #000; 
    color: yellowgreen; 
    text-align: center; 
    padding: 40px; 
} 

.bottom a { 
    color: #ffffff; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s; 
} 

.bottom a:hover { 
    color: yellowgreen; 
} 

.mid {
    border: white 2px solid;
    flex-direction: column
}